[submodule "src/hardware_drivers/as_drivers/pacmod2_msgs"]
	path = src/hardware_drivers/as_drivers/pacmod2_msgs
	url = https://github.com/astuff/pacmod2_msgs.git
[submodule "src/hardware_drivers/as_drivers/astuff_sensor_msgs"]
	path = src/hardware_drivers/as_drivers/astuff_sensor_msgs
	url = https://github.com/astuff/astuff_sensor_msgs.git
[submodule "src/hardware_drivers/as_drivers/pacmod2"]
	path = src/hardware_drivers/as_drivers/pacmod2
	url = https://github.com/astuff/pacmod2.git
[submodule "src/hardware_drivers/as_drivers/pacmod2_game_control"]
	path = src/hardware_drivers/as_drivers/pacmod2_game_control
	url = https://github.com/astuff/pacmod2_game_control.git
[submodule "src/hardware_drivers/as_drivers/ssc_joystick"]
	path = src/hardware_drivers/as_drivers/ssc_joystick
	url = https://github.com/astuff/ssc_joystick.git
[submodule "src/hardware_drivers/3rd_drivers/arena_camera_ros2"]
	path = src/hardware_drivers/3rd_drivers/arena_camera_ros2
	url = https://github.com/lucidvisionlabs/arena_camera_ros2.git
[submodule "src/hardware_drivers/ros2_drivers/ros2_socketcan"]
	path = src/hardware_drivers/ros2_drivers/ros2_socketcan
	url = https://github.com/autowarefoundation/ros2_socketcan.git
[submodule "src/hardware_drivers/as_drivers/automotive_autonomy_msgs"]
	path = src/hardware_drivers/as_drivers/automotive_autonomy_msgs
	url = https://github.com/astuff/automotive_autonomy_msgs.git
[submodule "src/hardware_drivers/3rd_drivers/zed-ros2-wrapper"]
	path = src/hardware_drivers/3rd_drivers/zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
[submodule "src/hardware_drivers/3rd_drivers/livox_ros_driver2"]
	path = src/hardware_drivers/3rd_drivers/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
